# .prettierignore

# default is
# **/.git
# **/.svn
# **/.hg
# **/node_modules

# Ignore artifacts:
build
coverage
dist/
temp/
LICENSE.md
pnpm-lock.yaml
pnpm-workspace.yaml

# JSON is formatted using the `json-language-features`.
.json
