/* step 3 */
.step3 svg {
  font-family: serif;
  box-shadow: 1px 1px 5px 2px rgb(0 0 0 / 0.2);
}

.step3 rect {
  width: 80px;
  height: 40px;
  fill: white;
  stroke: silver;
  stroke-width: 2;
}

.step3 path {
  fill: none;
  stroke: silver;
  stroke-width: 2;
}

.step3 text {
  dominant-baseline: middle;
  text-anchor: middle;
}

.step3 .bigger {
  font-size: 20px;
}

.step3 .hide {
  visibility: hidden;
}

#details {
  position: absolute;
  top: 120px;
  left: 320px;
  visibility: hidden;
  width: 200px;
  height: 60px;
  padding: 15px;
  font-size: 20px;
  color: white;
  text-align: center;
  background: gray;
  border-radius: 15px;
  opacity: 0.8;
}
