.controls {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  .control {
    position: relative;
    padding: 0.62rem 0;

    > label {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 0.62rem;
      font-weight: bold;
    }

    input[type="range"] + output {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 0.62rem;
    }
  }
}
