.controls {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  .control {
    position: relative;
    padding: 0.62rem 0;

    > label {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 0.62rem;
      font-weight: bold;
    }

    input[type="range"] + output {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 0.62rem;
    }
  }
}

.before-icon-button {
  position: relative;
  padding-left: 18px;

  &::before {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 16px;
    height: 16px;
    content: "";
    background-color: rgb(70 70 70);
    transform: translateY(-50%);
  }

  &:disabled::before {
    opacity: 0.4;
  }
}

.sound-sampler-button {
  &::before {
    mask: url("/icons/sound_sampler.svg") 0 0 / contain;
  }
}

.replay-button {
  &::before {
    mask: url("/icons/replay.svg") 0 0 / contain;
  }
}

.mic-off-button {
  &::before {
    mask: url("/icons/mic_off.svg") 0 0 / contain;
  }
}

.playing-button {
  &[data-playing="true"]::before {
    background-color: rgb(60 120 220);
    animation: blink-button-animation 2s infinite;
  }
}

.mute-button {
  &[data-mute="true"]::before {
    background-color: rgb(220 0 0);
    animation: blink-button-animation 2s infinite;
  }
}

@keyframes blink-button-animation {
  0%,
  49% {
    opacity: 1;
  }

  50%,
  100% {
    opacity: 0.2;
  }
}
