:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(255 255 255 / 0.87);
  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.file-results > * {
  margin: 0.5rem 0;
}

.file-results > img {
  display: block;
  width: 80vw;
}

.file-results > textarea {
  display: block;
  width: 80vw;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }
}
