/* style.css */
*,
*::before,
*::after {
  position: relative;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  width: 100vw;
  padding: 1rem;
  background: rgb(200 200 200 / 0.5);
}

div:has(canvas) {
  width: 80vw;
  padding: 1rem;
}
