/* color palette  */
:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-primary: #1976d2;
  --color-secondary: #26a69a;
  --color-accent: #9c27b0;
  --color-dark: #1d1d1d;
  --color-dark-page: #121212;
  --color-positive: #21ba45;
  --color-negative: #c10015;
  --color-info: #31ccec;
  --color-warning: #f2c037;

  --header-background: linear-gradient(175deg, var(--color-dark-page) 40%, var(--color-white));
  --header-color: var(--color-white);

  --section-background: #fafafa;
  --section-color: var(--color-black);

  --container-background: #404040;
  --container-color: var(--color-white);

  --settings-background: #c8c8c8;
  --settings-color: var(--color-black);
}

*,
*::before,
*::after {
  position: relative;
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  width: 100vw;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100vw;
  background: var(--header-background);
  color: var(--header-color);
}

footer {
  display: block;
  margin-bottom: 20rem;
}

main {
  padding: 2px;
}

section {
  background: var(--section-background);
  color: var(--section-color);
}

canvas {
  display: none;
}

.title {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.2rem;
}

.note {
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 1.2rem;
  word-break: break-all;
  padding: 0.2rem 0.5rem;
}

.floating-owner {
  position: relative;
}

.floating-box {
  position: absolute;
  display: block;
  bottom: 1rem;
  width: 98%;
  background: transparent;
  color: var(--color-black);
  pointer-events: none;
}

.camera {
  position: sticky !important;
  top: 2rem;
  z-index: 10;
  display: inline-block;
  vertical-align: top;
}

.camera-front {
  transform: scaleX(-1);
}

.camera-container {
  display: block;
  width: 48vw;
  height: 40vh;
  border: 1px solid var(--container-background);
  box-shadow: 2px 2px 3px var(--container-background);
  background: var(--container-background);
  color: var(--container-color);
}

.camera-container video {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .camera h2 {
    display: none;
  }
  .camera-container {
    display: block;
    width: 98vw;
    height: 60vh;
  }
}

.photo {
  position: sticky !important;
  top: 2rem;
  z-index: 10;
  display: inline-block;
  vertical-align: top;
}

.photo-container {
  display: block;
  width: 48vw;
  height: 40vh;
  border: 1px solid var(--container-background);
  box-shadow: 2px 2px 3px var(--container-background);
  background: var(--container-background);
  color: var(--container-color);
}

.photo-container img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .photo {
    position: relative !important;
    z-index: 0;
    top: 0;
  }
  .photo-container {
    display: block;
    width: 98vw;
    height: 30vh;
  }
}

.setting-container {
  display: block;
  width: 96vw;
  padding: 0.5rem;
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  line-height: 2rem;
}

.setting-container {
  border: 1px solid var(--settings-background);
  box-shadow: 2px 2px 3px var(--settings-background);
  background: var(--settings-background);
  color: var(--settings-color);
}

.setting-item {
  margin-bottom: 1rem;
}

.setting-name {
  display: block;
  margin: 0.2rem 0.5rem;
}

.setting-name:after {
  content: ":";
}

.setting-values {
  display: block;
  margin: 0.2rem 0 0.2rem 2rem;
}

.logs {
  margin-top: 1rem;
  padding: 1rem 0.5rem;
  border-top: 1px dashed #c3c3c3;
}

.log-container {
  font-family: monospace;
  font-weight: normal;
  line-height: 2rem;
  width: 96vw;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.log-container > * {
  margin: 0.2rem 0;
}

.log-container .log-info {
  background: rgba(130, 220, 130, 0.3);
  color: var(--color-black);
}

.log-container .log-error {
  background: rgba(255, 0, 0, 0.3);
  color: var(--color-black);
}

input,
select {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: normal;
  vertical-align: middle;
}

input[type="range"] {
  min-width: 60vw;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0.2rem;
}

select {
  min-width: 40vw;
  padding: 0.2rem 0.5rem;
}

label:has(> input) {
  display: inline-block;
  min-width: 5rem;
  margin-right: 1rem;
}

.button {
  font-family: sans-serif;
  font-size: 16px;
  display: inline-block;
  padding: 0.2rem 0.5rem;
}

.button:hover,
.button:active {
  box-shadow: 0px 0px 5px rgba(255, 215, 0, 1);
}

.button:active {
  transform: translate(2px, 2px);
}

.button:disabled {
  opacity: 0.3;
}

.button:disabled:hover,
.button:disabled:active {
  box-shadow: none;
  transform: none;
}

.button-primary {
  border: 1px solid var(--color-white);
  border-radius: 5px;
  background: var(--color-primary);
  color: var(--color-white);
}

.button-secondary {
  border: 1px solid var(--color-white);
  border-radius: 5px;
  background: var(--color-secondary);
  color: var(--color-white);
}

.icon-button {
  display: inline-block;
  padding: 0;
  margin: 1rem;
  width: 48px;
  height: 48px;
  font-size: 24px;
  line-height: 1;
  overflow: hidden;
  border: 1px solid var(--color-white);
  border-radius: 10px;
  background: rgba(200, 200, 200, 0.4);
  color: var(--color-white);
  pointer-events: auto;
}

.icon-button.icon-button-right {
  position: sticky;
  float: right;
}

#shutter-button {
  background: rgba(255, 30, 30, 0.4);
  color: var(--color-white);
}

.icons {
  font-size: 24px;
  width: 48px;
  height: 48px;
  line-height: 1;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-indent: 100%;
}

.icons.icon_add_a_photo {
  mask: url("icon/add_a_photo.svg") center / 36px 36px no-repeat;
  -webkit-mask: url("icon/add_a_photo.svg") center / 36px 36px no-repeat;
  background-color: var(--color-white);
}

.icons.icon_delete {
  mask: url("icon/delete.svg") center / 36px 36px no-repeat;
  -webkit-mask: url("icon/delete.svg") center / 36px 36px no-repeat;
  background-color: var(--color-white);
}

.icons.icon_flip_camera_android {
  mask: url("icon/flip_camera_android.svg") center / 36px 36px no-repeat;
  -webkit-mask: url("icon/flip_camera_android.svg") center / 36px 36px no-repeat;
  background-color: var(--color-white);
}

.icons.icon_settings {
  mask: url("icon/settings.svg") center / 36px 36px no-repeat;
  -webkit-mask: url("icon/settings.svg") center / 36px 36px no-repeat;
  background-color: var(--color-white);
}

.focus-point,
.focus-ghost {
  display: none;
  position: fixed;
  width: 48px;
  height: 48px;
  top: -24px;
  left: -24px;
  z-index: 999;
  mask: url("icon/crop_free.svg") center / 36px 36px no-repeat;
  -webkit-mask: url("icon/crop_free.svg") center / 36px 36px no-repeat;
  background-color: rgba(100, 255, 0, 1);
  pointer-events: none;
}

.focus-ghost {
  background-color: rgba(100, 255, 0, 0.5);
}
